label {
  padding-right: 10px;
  font-size: 1rem;
}


progress {
  height: 20px;
  width: 176vh;

}

@media screen and (max-width: 1280px) {
  progress{
     width: 135vh;
  }
}


@media screen and (max-width: 1000px) {
  progress{
     width: 64vh;
  }
}

@media screen and (max-width: 912px) {
  progress{
     width: 56vh;
  }
}

@media screen and (max-width: 500px) {
  progress{
     width: 38vh;
     overflow: hidden;
  }
}




.progressbartext {
  text-align: justify; margin-left:6vh; font-size:smaller;
}

@media screen and (max-width: 1000px) {
  .progressbartext{
    text-align: justify; margin-left:3vh; font-size:smaller;
  }
}


/*Background color*/
#grad1 {
  background-color:  #EC7000;

}

/*form styles*/
form {
  text-align: center;
  position: relative;
  margin-top: 20px;
}

form fieldset .form-card {
  background: white;
  border: 0 none;
  border-radius: 0px;
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
  padding: 20px 40px 30px 40px;
  box-sizing: border-box;
  width: 94%;
  margin: 0 3% 20px 3%;

  /*stacking fieldsets above each other*/
  position: relative;
}

form fieldset {
  background: white;
  border: 0 none;
  border-radius: 0.5rem;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding-bottom: 20px;

  /*stacking fieldsets above each other*/
  position: relative;
}

/*Hide all except first fieldset*/
form fieldset:not(:first-of-type) {
  display: none;
}

form fieldset .form-card {
  text-align: left;
  color: #9E9E9E;
}

form input, form textarea {
  padding: 0px 8px 4px 8px;
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0px;
  margin-bottom: 25px;
  margin-top: 2px;
  width: 100%;
  box-sizing: border-box;
  font-family:Arial, Helvetica, sans-serif;
  color: #2C3E50;
  font-size: 16px;
  letter-spacing: 1px;
}

form input:focus, form textarea:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: none;
  font-weight: bold;
  border-bottom: 2px solid skyblue;
  outline-width: 0;
}

/*Blue Buttons*/
form .action-button {
  width: 100px;
  background: #135393;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 0px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}

form .action-button:disabled,
.action-button[disabled]{
  width: 100px;
  background: #cccccc;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 0px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}

form .action-button:hover, form .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px skyblue;
}

/*Previous Buttons*/
form .action-button-previous {
  width: 100px;
  background: #135393;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 0px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}

form .action-button-previous:hover, form .action-button-previous:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #616161;
}

/*Dropdown List Exp Date*/
select.list-dt {
  border: none;
  outline: 0;
  border-bottom: 1px solid #ccc;
  padding: 2px 5px 3px 5px;
  margin: 2px;
}

select.list-dt:focus {
  border-bottom: 2px solid skyblue;
}

/*The background card*/
.card {
  z-index: 0;
  border: none;
  border-radius: 0.5rem;
  position: relative;
}

/*FieldSet headings*/
.fs-title {
  font-size: 25px;
  color: #2C3E50;
  margin-bottom: 10px;
  font-weight: bold;
  text-align: left;
}

/*Imaged Radio Buttons*/
.radio-group {
  position: relative;
  margin-bottom: 25px;
}

.radio {
  display:inline-block;
  width: 204;
  height: 104;
  border-radius: 0;
  background: lightblue;
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  cursor:pointer;
  margin: 8px 2px;
}

.radio:hover {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.radio.selected {
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1);
}

/*Fit image in bootstrap div*/
.fit-image{
  width: 100%;
  object-fit: cover;
}
