<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="large" color="#fff" type="ball-circus" [fullScreen] = "true"></ngx-spinner>

<form *ngIf="exibirPagina" [formGroup]="formDados">
  <fieldset>
    <div class="form-card">
        <h6 class="fs-subtitle">Confirme os dados:</h6>
        <BR>
        <div class="row">
            <div class="col-md-6">
                <label>CPF:</label>
                <input type="text" formControlName="Cpf" name="cpf"  />
            </div>
      </div>
      <div class="row">
        <div class="col-md-6">
            <label>Nome:</label>
            <input type="text" name="cpf" formControlName="Nome"  />
        </div>

        <div class="col-md-6">
            <label>E-mail:</label>
            <input type="text" name="email" formControlName="Email" placeholder="" />
        </div>

  </div>

    </div>
    <input type="button" name="previous" class="previous action-button-previous" (click)="setNumeroPasso(numerodoPassoAtual - 1)" value="Voltar"/>
    <input type="button" name="next" class="next action-button" [disabled]="formDados.invalid" (click)="salvarCliente()" value="Continuar"/>
  </fieldset>

</form>
